Architecture: powerpc
Depends: libqt5core5a (>= 5.5.1),
         libqt5gui5 (>= 5.5.1),
	 libqt5network5 (>= 5.5.1),
	 libqt5printsupport5 (>= 5.5.1),
         libqt5sql5 (>= 5.5.1),
         libqt5sql5-sqlite (>= 5.5.1),
         libqt5widgets5 (>= 5.5.1)
Maintainer: f83043e79dc03a0abfbcbc376879a97d66f2cacb@protonmail.ch
Package: Glitch
Priority: optional
Section: Development
Version: 2023.02.28
Description: Glitch
 Welcome to Glitch on PowerPC!
 Glitch is governed by a BSD license. Enjoy!
