Architecture: amd64
Depends: libqt5core5a (>= 5.15.0),
         libqt5gui5 (>= 5.15.0),
	 libqt5network5 (>= 5.15.0),
	 libqt5pdf5 (>= 5.15.0),
	 libqt5pdfwidgets5 (>= 5.15.0),
	 libqt5printsupport5 (>= 5.15.0),
	 libqt5serialport5 (>= 5.15.0),
         libqt5sql5 (>= 5.15.0),
         libqt5sql5-sqlite (>= 5.15.0),
         libqt5widgets5 (>= 5.15.0)
Maintainer: f83043e79dc03a0abfbcbc376879a97d66f2cacb@protonmail.ch
Package: Glitch
Priority: optional
Section: Development
Version: 2025.04.13
Description: Glitch
 Welcome to Glitch!
 Glitch is governed by a BSD license. Enjoy!
