[Desktop Entry]
Categories=Library
Comment=Glitch
Exec=/opt/glitch/glitch.sh
GenericName=Glitch
Icon=/opt/glitch/glitch-logo.png
MimeType=text/html;/text/xml;application/xhtml_xml;
Name=Glitch
StartupNotify=true
Terminal=false
Type=Application
