Architecture: powerpc
Depends: libqt5core5a,
         libqt5gui5,
	 libqt5network5,
	 libqt5printsupport5,
	 libqt5serialport5,
         libqt5sql5,
         libqt5sql5-sqlite,
         libqt5widgets5
Maintainer: f83043e79dc03a0abfbcbc376879a97d66f2cacb@protonmail.ch
Package: Glitch
Priority: optional
Section: Development
Version: 2025.01.30
Description: Glitch
 Welcome to Glitch on PowerPC!
 Glitch is governed by a BSD license. Enjoy!
